    <div class="row master" data-animate="fadeInUp">
        <div class="large-12 columns">
            <p>Last year, We organized a conference for PHP, but now we've decided to grow up and extend it to "Developers Conference of Iran" in Tehran, Iran, with the name of "Coder Conf".</p>
            <p>We are pleased to invite you to the conference.</p>
            <p class="font-bold">
                <a href="https://ir.linkedin.com/in/mirmousavi/en" target="_blank">Mostafa Mirmousavi</a>
            </p>
        </div>
    </div>
