<div class="expanded row plan-one ">
  <div data-equalizer class="bg-white">
    <div class="row" data-animate="fadeInUp">
            <div class="large-6 columns">
              ‌<h1 class="conf-title">Coder Conf</h1>
              <p>CoderConf has some boards every year. Boards of CoderConf2016 are Server-side and Client-side.</p>
              <p>Server-side includes Python, Node.js, Java and PHP and Client-side includes HTML, CSS, JavaScript.</p>

              
              <p class="text-center"><s>To send articles please use <a href="http://goo.gl/forms/z4QtT1sQyU">this form.</a></s>
              <br>
              <strong>Submission deadline is reached</strong>
              </p>
            </div>
            <div class="large-6 columns">
              <img src="{{root}}assets/img/coderconf-tree.png">
            </div>
      </div>
      <div class="row margin-t-8" data-animate="fadeInUp">
            <div class="large-6 columns text-center conf-date" data-equalizer-watch >
              <h2 class="text-center">August 18, 2016</h2>
              <p class="text-center">Tehran, Iran</p>
            </div>
            <div class="large-6 columns text-center register" data-equalizer-watch>
              <!-- <button type="button" class="button">  </button> -->
              <a href="https://evand.ir/events/coderconf" target="_blank" class="button">Register</a>
              <br>
              20$
              <br>
            </div>
      </div>
    </div>

  <svg class="section-end after-date-time" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L0 100 L100 0 Z" />
    Sorry, your browser does not support inline SVG.
  </svg>

  <div class="large-12 plan-one padding-tb-2" id="juror">
      <h2 class="juror-title text-center" data-animate="fadeIn">Jury</h2>
    <div class="row small-up-2 medium-up-3 large-up-5 text-center">
      
      <div class="columns" data-animate="fadeInUp" >
          <a href="https://ir.linkedin.com/in/omidm" target="_blank" rel="nofollow">
            <img src="{{root}}assets/img/juror/omidmr.jpg">
            <div class="juror-name">Omid Mottaghi Rad</div>
          </a>
      </div>
      <div class="columns" data-animate="fadeInUp" data-animate-delay="300">
          <a href="https://ir.linkedin.com/in/alisattari" target="_blank" rel="nofollow">
            <img src="{{root}}assets/img/juror/ali-sattari.jpg">
            <div class="juror-name">Ali Sattari</div>
          </a>
      </div>
      <div class="columns" data-animate="fadeInUp" data-animate-delay="600">
          <a href="https://ir.linkedin.com/in/saeid" target="_blank" rel="nofollow">
            <img src="{{root}}assets/img/juror/saeid-zebardast.jpg">
            <div class="juror-name">Saeid Zebardast</div>
          </a>
      </div>
      <div class="columns" data-animate="fadeInUp" data-animate-delay="900">
          <a href="https://ir.linkedin.com/in/farhadiali" target="_blank" rel="nofollow">
            <img src="{{root}}assets/img/juror/ali-farhadi.jpg">
            <div class="juror-name">Ali Farhadi</div>
          </a>
      </div>
      <div class="end columns" data-animate="fadeInUp" data-animate-delay="1100">
          <a href="https://ir.linkedin.com/in/behnam-ahmad-khan-beigi-85793055" target="_blank" rel="nofollow">
            <img src="{{root}}assets/img/juror/yottanami.jpg">
            <div class="juror-name">Behnam Ahmad Khan Beigi</div>
          </a>
      </div>

    </div>
  </div>

</div>
<svg class="section-end after-enddd" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L0 100 L100 0 Z" />
    Sorry, your browser does not support inline SVG.
</svg>